
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.concepts-image {
    max-width: 100%; /* Ensures it stays responsive */
    width: 80%; /* Adjusts the size, increase/decrease as needed */
    display: block;
    margin: 0 auto; /* Centers horizontally */
    height: auto;
}